@{
    ViewData["Title"] = "Razor Exercise";
    // 1
    string name = "Francesco";
    string surname = "Cauzzi";
    // 2
    string PrintSum1toN(int n){
        int sum = 0;
        for(int i= 0; i <= n; i++){
            sum += i;
        }
        return sum.ToString();
    }
    // 3
    string sentence = "nel mezzo del cammin di nostra vita";
    int GetCharOccurencesInASentence(string sentence, char a){
        string[] sentenceArr = sentence.Split(' ');
        char[][] charArray = new char[sentenceArr.Length][];
        for (int i = 0; i < sentenceArr.Length; i++)
        {
            charArray[i] = sentenceArr[i].ToCharArray();
        }

        int counter = 0;
        for (int i = 0; i < charArray.Length; i++)
        {
            for (int j = 0; j < charArray[i].Length; j++)
            {
                if (charArray[i][j] == a)
                {
                    counter++;
                }
            }
        }
        return counter;
    }
    // 4
    string GetRandomNumbersList(int quantityToShow,int start, int end, int showStart, int showEnd){
        List<int> listNumber = new();
        for(int i = 1 ; i <= quantityToShow; i++){
            Random random = new();
            int newNumber = random.Next(start, end+1);
            listNumber.Add(newNumber);
        }
        string myStr = "";
        foreach(int num in listNumber){
            if(num >= 20 & num <= 70){
                myStr += $"{num} ";
                
            }
        }
        return myStr;
    }
    // 5
    DateTime actualTime = DateTime.Now;
    

    


}

<div class="text-center">
    <h1 class="display-4">Razor Exercise</h1>
    <h3 class="mb-4">Welcome to my exercises</h3>
    <div class="__exercises">
        <div id="__1">
            <p>
                1. Dichiarare una variabile valorizzandola con il nostro nome.
Dichiarare un'altra variabile valorizzandola con il nostro cognome.
Stampare il nostro nome e cognome all'interno di un tag h2.
            </p>
            <h2>@name @surname</h2>
        </div>
        <div id="__2">
            <p>
                2. Creare una funzione che stampa la somma dei numeri che vanno da 1 a n (con n passato come parametro - n incluso)
Stampare dentro uno span il risultato.
            </p>
            <span>@PrintSum1toN(8)</span>
        </div>
        <div id="__3">
            <p>
                3. Contare quante volte la lettera a è presente nalla frase "nel mezzo del cammin di nostra vita" e stampare questo valore in pagina
            </p>
            <span>@GetCharOccurencesInASentence(sentence, 'a')</span>

        </div>
        <div id="__4">
            <p>
                4. Creare una List<int> di 20 numeri interi (generati random da 1 a 90, 1 e 90 inclusi) e mostrare in pagina solo i numeri compresi tra 20 e 70
            </p>
            <span>@GetRandomNumbersList(20,1,90,20,70)</span>
        </div>
        <div id="__5">
            <p>
                5. Stampare in pagina la data e l'ora attuale (usando la classe DateTime) con il formato anno-mese-giorno ore:minuti:secondi
            </p>
            <span>@actualTime.ToString("yyyy-MM-dd HH:mm:ss");</span>
        </div>
        <div id="__6">
            <p>                
                6. Partendo dalla data di oggi (usando la classe DateTime) stampare in pagina
                a. la data di 7 giorni fa
                b. che giorno della settimana è oggi (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)
                c. che giorno della settimana sarà nello stesso giorno e mese di oggi ma tra un anno (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)
            </p>
            <div>a. <span>@actualTime.AddDays(-7).ToString("yyyy-MM-dd")</span></div>
            <div>b. <span>@actualTime.DayOfWeek</span></div>
            <div>c. <span>@actualTime.AddMonths(12).DayOfWeek</span></div>


        </div>
    </div>

</div>


